/*Navbar*/

#content-nav .links ul{
    margin-right: 0;
}

#content-nav .links ul li a{
    font-size: 1rem;
}

#content-nav .name{
    display: none;
}

/*Header*/

.card{
    width: 85%;
    margin-top: 20%;
}

.card h1{
    font-size: 2.3rem;  
}

.card h2{
    font-size: 1.8rem;
}

/*Projets*/

#content-projects, .projet{
    display: block;
}

.projet img{
    margin: 20px auto;
    width: 80%;
}

/*Compétences - Contact*/

#content-cpt .logos-cpt i,
#content-cpt .logos-cpt img
{
    padding: 5px 10px;
}

#logo-bootstrap{
    width: 60px;
}

#logo-jquery{
    width: 100px;
}

#cpt-contact{
    display: block;
}

#cpt-bg{
    padding-top: 5px;
}

#submit{
    margin-bottom: 50px;
}
