:root{
    --primary-color:#106d70;
    --secondary-color:#0b4d4f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background:rgb(236, 236, 236);
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    width: 350px;
}

/*Navbar*/

nav{
    z-index: 5;
    position: sticky;
    top: 0;
    width: 100%;
}

#content-nav{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
}

#content-nav .name{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:5rem;
}

#content-nav .name a{
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

#content-nav .links ul{
    flex:3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right:5rem;
}


#content-nav .links li a{
    color: #fff;
    padding: 0 1.5rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
}

#content-nav .links li a:hover{
    color: black;
}

/*Boutons Nav*/

.toggle-btn{
	height:35px;
	width:30px;
	position : relative;
	float: right;
    margin:1.5rem 1rem 1.5rem 0;
}

.toggle-btn span{
	height:3px;
	background-color:white;
	width:100%;
	position:absolute;
	top:20px;
	left:0;
}


.toggle-btn span:before{
	content:"";
	height:3px;
	background-color:white;
	width:100%;
	position:absolute;
	top:-10px;
	left:0;
}


.toggle-btn span:after{
	content:"";
	height:3px;
	background-color:white;
	width:100%;
	position:absolute;
	top:10px;
	left:0;
}

.toggle-btn, .toggle-btn span, .toggle-btn span:after, .toggle-btn span:before{
	opacity:0;
}

/*Content header*/


header{
    background: url('../img/accueil-bg.jpg') no-repeat center center/cover;
    z-index: 5;
    height: 100vh;
    opacity: 0.9;
}

#bg-canevas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
}

.card{
    /* background-color: #fff; */
    opacity: 0.7;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 65px 0;
}

.card h1{
    font-weight: bold;
    font-size: 4.5rem;
    padding-bottom: 5px;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0,0,0,0.5);
    color: white;
    font-family: 'Lato', sans-serif;
}

.card h2{
    font-weight: bold;
    color: white;
    font-size: 4.5rem;
    padding-bottom: 30px;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(0,0,0,0.5);
    margin-bottom: 33px;
    font-family: 'Lato', sans-serif;
}

.card a{
    color: #fff;
    background-color: var(--primary-color);
    padding: 18px 71px;
    border-radius: 20px;
    font-size: 1.2rem;
    margin: 0px 20px;
}   
.card a:hover{
    background-color: var(--secondary-color);
}

/*Main*/

main h2{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 2.2rem;
}

main h2::after{
    content: ' ';
    display: block;
    width: 80px;
    height: 4px;
    background-color: var(--primary-color);
    margin: 10px 0;
    margin-bottom: 30px;
}

main p{
    font-size: 1rem;
    line-height: 1.6;
}

#reseau01{
    width: 50%;
}

#reseau02{
    float: right;
    width: 60%;
}

/*About*/

#about{
    margin: 50px auto;
    width: 90%;
}

#about p{
    font-size: 1.1rem;
}


/*Projets*/

#projects{
    margin: 50px auto;
    width: 90%;
}   

#content-projects{
    display: flex;
    flex-direction: column;
}

.projet{
    display: flex;
    flex-direction: row;
    align-items: center;  
    margin: 30px 0; 
}

.projet{
    content: ' ';
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 60px;
}

.projet:last-child{
    border: none;
}

.projet img{
    flex:2;
    margin-right: 10%;
    cursor: pointer;
}

.projet-description{
    flex:3;
}

.projet h3{
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.projet p{
    margin-bottom: 25px;
}

.projet a{
    color: #fff;
    background-color: var(--primary-color);
    padding: 8px 14px;
    border-radius: 15px;
    font-size: 0.9rem;
}

.projet a:hover{
    background-color: var(--secondary-color);
}


/*Galerie JS*/

.overlay{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;
    cursor: pointer;
}

.close{
    position: absolute;
    top: 15px;
    right: 50px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    display: none;
}

.close:hover,
.close:focus{
    color:var(--primary-color);
    text-decoration: none;
    cursor: pointer;
}

#img-temp img, #textTemp p{
    width: 60%;
    margin-left:auto;
    margin-right: auto;
    display: block;
}

#img-temp img{
    margin-top: 10%;
}

#text-temp p{
    color:#fff;
    margin-top: 40px;
    text-align: center;
}

/*Compétences*/

#cpt-contact{
    display: flex;
    clear: both;
}

#cpt-bg{
    background: var(--primary-color);
    flex:1;
    padding-bottom: 8%;
}

#content-cpt{
    width: 80%;
    margin: 50px auto 0 auto;
    
}

#content-cpt .logos-cpt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

#content-cpt h2{
    color: #fff;
}


#content-cpt h2::after{
    content: ' ';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #fff;
    margin: 10px 0;
    margin-bottom: 30px;
}

#content-cpt i{
    color: #fff;
}

#logo-bootstrap{
    width: 40px;
}

#logo-jquery{
    width: 80px;
}


#content-cpt li{
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: 1rem 0;
}

#content-cpt li:last-child{
    border-bottom: none;
}

/*Contact*/

#contact{
    flex: 1;
}

#content-contact{
    width: 80%;
    margin: 50px auto 0 auto;
}

#contact label{
    margin-bottom: 1rem;
}

#mail, #contact textarea{
    margin: 12px 0;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    background-color: #fff;
    width: 100%;
}

#mail{
    padding: 8px 10px;
}

#submit{
    color: #fff;
    background-color: var(--primary-color);
    padding: 14px 28px;
    border-radius: 15px;
    margin-top: 20px;
    width: 100%;
    font-size: 1rem;
}

#contact p, #condition + label{
    font-size: 0.8rem;
    line-height: 1.2;
    margin: 40px 0;
}

#contact p a{
    color: var(--primary-color);
    font-weight: bold;
}

#mail + span{
    font-size: 0.8rem;
    padding-bottom: 8px;
    display: block;
}

/*Footer*/

footer{
    background-color: #333;
}

#content-footer{
    margin: 0 auto;
    width: 90%;
    padding: 40px 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer p{
    font-size: 0.8rem;
    color: #fff;
    padding-bottom: 10px;
}


footer i, footer a{
    color: #fff;
    cursor: pointer;
}

footer i:hover, footer a:hover{
    color: var(--primary-color);
    transition: ease-in-out;
    transition-duration: 0.3s;
}
